.showDetails {
  display: none;
}
img {
  height: 400px;
  border-radius: 10px;
}
img:hover {
  border: 6px solid blue;
}
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
h1{
  text-align: center;
  color: red;
  font-size: 45px;
}
h2 {
  text-align: center;
  color: white;
}
h1:hover{
  color:purple;
  font-size: 55px;
}
form {
  font-size: 40px;
  text-align: center;
  color: white;
}
.showDetails{
  margin-left: 40s%;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: #37393d;
  width: 25%;
  border-radius: 15px;

}
h5 {
  color: white;
}
h4{
  font-size: 45px;
  text-align: center;
  color: white;
}
